[submodule "GuestbookService"]
	path = GuestbookService
	url = ../GuestbookService/
[submodule "UserService"]
	path = UserService
	url = https://github.com/superellips/UserService
[submodule "AclService"]
	path = AclService
	url = https://github.com/superellips/AclService
[submodule "ApiGateway"]
	path = ApiGateway
	url = https://github.com/superellips/ApiGateway.git
